<!doctype html>
<html>

<head>
    <title>您的优惠码</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <style type="text/css">
    .myCode {
        border: 1px solid orange;
        padding: 10px;
        margin: auto;
        width: 200px;
        border-radius: 10px;
        font-size: 40px;
        text-align: center;
        font-family: initial;
        background-color: #D1EEEE;
    }
    </style>
</head>

<body>
    <div class="">
        <div class="col-md-12 mForm">
            <h3>  请记下您的优惠码，参加课程时可享有优惠</h3>
            <p class="myCode">
                <?php echo $code;?>
            </p>
        </div>
        <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html>
