<!doctype html>
<html>

<head>
    <title>匹配的留学机构</title>
    <%- include ./include/headInc.html %>
    <style>
    .insBox {
        border: 1px solid black;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    }
    </style>
</head>

<body>
    
    <div class="">
        <div class="col-md-12">
            <h2>适合您的留学机构</h2>
            <ul class="list-unstyled">
                <%
                
                for(var i=0;i<institutions.length;i++){ %>
                <li>
                    <div class="insBox">
                        <p><strong><%=  institutions[i]["name"]%>:</strong></p>
                        <p>
                            <%=institutions[i][ "desc"]%>
                        </p>
                        <p><a href="/node/w/director/-?openid=<%=openid%>&type=list#<%=institutions[i]['director_name']%>"><small>点此联系</small>&nbsp<strong><%=institutions[i]["director_title"]+'  '+institutions[i]["director_name"]%></strong></a></p>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html>
